body {
  font-family: 'Montserrat', sans-serif;
  /* background: linear-gradient(120deg, #2980b9, #8e44ad); */
  min-height: 100vh;
  /* overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; */
}
/* .otp_form{
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
   -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
} */
.center {
  width: fit-content;
  /* width: 500px; */
  background: #fff;
  border-radius: 20px;
  padding: 32px;
}

.center h1 {
  text-align: center;
  padding-bottom: 20px;
  color: #444;
  border-bottom: 1px solid #c0c0c0;
  letter-spacing: 2px;
}

.center p {
  text-align: center;
  margin: 50px 0;
  font-size: 18px;
  color: #888;
  font-weight: 500;
}

.center h3 {
  font-size: 16px;
  color: #aaa;
  font-weight: 500;
  text-align: center;
  padding-top: 14px;
  border-top: 1px solid #c0c0c0;
}

.center #btn {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  border-radius: 23px;
  letter-spacing: 2px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.center #btn:hover {
  background: linear-gradient(-120deg, #2980b9, #8e44ad);
}

.center form {
  padding: 20px 0;
}

.center form .cd-fld {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.center form .cd-fld label {
  font-size: 16px;
  color: #adadad;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.center form .cd-fld select {
  width: 55%;
  height: 40px;
  border: none;
  font-size: 14px;
  outline: none;
  color: #666;
  border-bottom: 2px solid #adadad;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.center form .cd-fld select:focus ~ label,
.center form .cd-fld select:valid ~ label {
  color: #2691d9;
}

.center form .txt-fld {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 50px 0;
}

.center form .txt-fld input {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 16px;
  outline: none;
  color: #666;
  padding: 0 5px;
}

.center form .txt-fld input:focus ~ label,
.center form .txt-fld input:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.center form .txt-fld input:focus ~ span::before,
.center form .txt-fld input:valid ~ span::before {
  width: 100%;
}

.center form .txt-fld label {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
  color: #adadad;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.center form .txt-fld span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0;
  height: 2px;
  background: #2691d9;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.login-bg {
  background: white;
}
.form-center {
  text-align: -webkit-center;
}

.img-control {
  margin: 21px;
}
/* @media only screen and (min-width: 700px) {                                                   
  #center{
    background: #fff;
    border-radius: 20px;
    padding: 32px;
  }
} */
