* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(199, 233, 148, 1) 100%
    );
  } */

/* .sat-faq {
    text-align: center!important;
    margin: 2rem 0 4rem 0!important;
  } */

.accordion {
  width: 490px;
  height: 490px;
  margin: 1rem;
}
.accordion1 {
  width: 640px;
  margin: 0rem;
}
.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: transparent;
  cursor: pointer;
  background-color: #a696f8;
  border-radius: 20px;
}

.accordion-title:hover {
  background-color: #a696f8;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
  margin-top: 1rem;
}
.accordion-item {
  margin-top: 7px;
  background-color: #e4e1f5;

  border-radius: 20px;
}
.accordion-content {
  background-color: #e4e1f5;
  border-radius: 20px;
}
.textIcon {
  font-weight: 700;
  font-size: 19px;
}
@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 75%;
  }
}
